*{
    padding: 0px;
    margin: 0px;
}
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: white;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }


/* animation */
.hero{
    width:100%;
    height:100vh;
    background-image: url(./images/2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.or-ange h3{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blue-collar{
    color: white;
}
.logo{
    height: 25px;
}
.navbar{
    width:100%;
    height:10%;
    margin:auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
button{
    color: white;
    padding:10px 25px;
    background:transparent;
    border:1px solid  aliceblue;
    border-radius: 20px;
    outline: none;
    cursor: pointer;


}
.write-up{
    margin-top: 10%;
    margin-left: 7%;
    color: wheat;
}
.log-in{
    background-color:transparent; 
    border: solid wheat 2px; 
    float: right;
    padding: 0px;
    margin-right: 5%;
}
.sign-up h5 {
    color:white;
    
}
.abc h5{
    color: white;
    
}




.logo img{
    float: left;
}
.write-ups{
    color: white;
    margin-left: 3%;
    margin-top: 13%;
}
.write-ups p{
    text-align: justify;
    margin-right: 40%;
}
.neww-one1{
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    /* margin-top: 80%; */
}
